.blog{
    position: relative;
    max-width: getMaxWidth(s);
    margin: auto;
    @include setFlex(column, center, center);

    @import 'section-profile';
    @import 'section-content';
}

@import 'blog-responsive';