.project-holder{
    display: grid;
    grid-template-columns: auto;
    &__items{
        position: relative;
        border: 1px solid;
        max-width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
        background: black;
        overflow: hidden;
        img{
            max-width: 100%;
            height: 100%;
            transition: 300ms all linear;
        }
        span{
            position: absolute;
            z-index: 2;
            background: getColors(primary-solid);
            color: getColors(secondary-light);
            left: 0;
            right: 0;
            bottom: 0;
            padding: .3rem 0;
            transition: 300ms all linear;
        }
        &:hover{
            img{
                transform: scale(1.3);
            }
            span{
                transform: translateX(-100%);
            }
        }
      
    }
}
@import 'p-item_holder-responsive';