// responsive medium screen //768px
@include media-md{
    .home{
        .hero{
            &__cont{
                @include setFlex(row, center, center);
                max-width: getMaxWidth(m);
                text-align: left;
                h2{
                    max-width: 45rem;
                    margin-bottom: unset;
                }
                &__buttons{
                    text-align: center;
                    @include setFlex(row, flex-start, flex-start);
                    span{
                        width: 9rem;
                        &:nth-of-type(2){
                            margin: 0 2rem;
                        }
                    }
                }
                &__info{
                    @include setFlex(column, center, flex-start);
                }
                &__img{
                    margin-right: 2rem;
                    max-width: 100%;
                    .status{
                        svg{
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
        } // end of section hero
        .skill{
            height: 35rem;
            &__cont{
                max-width: getMaxWidth(m);
                &__header{
                    h2{
                        letter-spacing: 10px;
                    }
                    svg{
                        #line{
                            height: 10px;
                        }
                    }
                }
                &__body{
                    &__title{
                        width: 15rem;
                        height: 15rem;
                    }
                }
            }
        } // end of section skills
        .project{
            &__cont{
                max-width: getMaxWidth(m);
            }
        } // end of section projects
    }
}

// responsive large screen //1200px
@include media-lg{
    .home{
        .hero{
            &__cont{
                max-width: getMaxWidth(l);
                &__buttons{
                    span{
                        width: 12rem;
                    }
                }
                &__img{
                    .status{
                        svg{
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
        } // end of section hero
        .skill{
            height: 40rem;
            &__cont{
                max-width: getMaxWidth(l);
                &__header{
                    svg{
                        #line{
                            height: 8px;
                        }
                    }
                }
            }
        } // end of section skills
        .project{
            padding: 7rem 0;
            &__cont{
                max-width: getMaxWidth(l);
                &__header{
                    text-align: left;
                }
            }
        } // end of section projects
    }
}

// responsive large screen //1900px
@include media-xl{
    .home{
        .hero{
            &__cont{
                max-width: getMaxWidth(xl);
                &__img{
                    .status{
                        svg{
                            width: 3rem;
                            height: 3rem;
                        }
                    }
                }
            }
        } // end of section hero
        .skill{
            height: 100vh;
            &__cont{
                max-width: getMaxWidth(xl);
                &__header{
                    margin-top: 1rem;
                    h2{
                        letter-spacing: 15px;
                    }
                    svg{
                        #line{
                            height: 5px;
                        }
                    }
                }
                &__body{
                    max-width: 50rem;
                    margin: auto;
                    &__title{
                        width: 20rem;
                        height: 20rem;
                    }
                }
            }
        } // end of section skills
        .project{
            &__cont{
                max-width: getMaxWidth(xl);
            }
        } // end of section projects
    }
}