.content__cont{
    position: relative;
    width: 100%;
    @include setFlex(column, center, center);
    .post{
        margin: 1rem 0;
        padding: 0 1rem;
        background: getColors(primary-solid);
        border-radius: 1rem;
        padding: 1rem;
        width: 100%;

        &__cont{
            @include setFlex(row, flex-start, flex-start);
            border-bottom: 1px solid;
            border-color: getColors(secondary-solid);
            &-image{
                padding-left: .5rem;
                padding-right: 1rem;
                max-width: 100%;
                img{
                    width: 40px;
                    border-radius: 100%;
                }
            }
            &-body{
                @include setFlex(column, flex-start, center);
                height: 100%;
                width: 100%;
                &__info{
                    flex-grow: 1;
                    @include setFlex(column, flex-start, flex-start);
                    width: 100%;
                    span{
                        color: getColors(primary-light);
                        font-family: $sub;
                    }
                    p{
                        margin-top: .5rem;
                        color: getColors(secondary-light);
                    }
                }
                span.normal-2{
                    color: getColors(secondary-solid);
                    margin-left: auto;
                    margin-top: 1rem;
                }
                
            }
        }
    
    }
    &-circles{
        position: relative;
    }

    &-arrow{
       visibility: hidden;
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        &.active{
            visibility: visible;
        }

        svg{
            filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
        }
    }
    
    span.up-to-date{
        margin-bottom: 2rem;
    }
}

@import 'blog-post_holder-responsive';