.status{
    @include setFlex(row, center, center);
    font-weight: 600;
    svg{
        padding-right: .25rem;
    }
    span{
        color: getColors(primary-light);
        padding-left: .25rem;
        font-style: italic;
    }
}