.footer{
    padding: 3rem 0;
    background: getColors(primary-solid);
    text-align: center;
    height: 100vh;
    color: getColors(secondary-light);
    &__cont{
        @include setFlex(column, center, center);
        max-width: getMaxWidth(s);
        height: 100%;
        margin: auto;
        &-logo{
            margin: 0 auto;
            max-width: 15rem;
            
            svg{
                width: 100%;
                fill: getColors(secondary-light);
                #Logo{
                    #mad{
                        path{
                            stroke: getColors(secondary-light);
                            stroke-width: 2px;
                        }
                    }
                   
                }
            }
        }
        &-contact{
            margin: 2rem 0;
            &-icons{
                @include setFlex(row, space-evenly, center);
                font-size: 3rem;
                a{
                    transition: 200ms all linear;
                    &:hover{
                        color:getColors(secondary-solid);
                    }
                }
               
            }
            span{
                font-weight: 600;
                font-style: italic;
                
            }
        }
        &-arrow{
            margin-top: 2rem;
            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
}
@import 'footer-responsive';