.r-gridbox {
    width: 100%;
    height: 100%;
}

.r-gridbox-container {
    position: relative;
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

.r-gridbox-box {
    position: relative;
    border: 1px solid;
    width: auto;
    height: 14rem;
}