// responsive medium screen //768px
@include media-md{
    .skill-holder{
        button{
            padding: 1rem;
            border-radius: 2rem;
            min-width: 10rem;
            &:nth-of-type(2){
                top: -4.8rem;
            }
            &:nth-of-type(5){
                bottom: -4rem;
                margin-right: 8rem;
            }
            &:nth-of-type(6){
                bottom: -4rem;
                margin-left: 8rem;
            }
        }
    }
}

// responsive large screen //1200px
@include media-lg{
    .skill-holder{
        button{
            &:nth-of-type(5){
                margin-right: 12rem;
            }
            &:nth-of-type(6){
                margin-left: 12rem;
            }
        }
    }
}

// responsive large screen //1900px
@include media-xl{
    .skill-holder{
        button{
            min-width: 15rem;
            &:nth-of-type(2){
                top: -8rem;
            }
            &:nth-of-type(5){
                bottom: -7rem;
                margin-right: 9rem;
            }
            &:nth-of-type(6){
                bottom: -7rem;
                margin-left: 9rem;
            }
        }
    }
}