/* reset */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-family-title: 'East Sea Dokdo', cursive;
    --font-family-content: 'Source Code Pro', monospace;
    letter-spacing: 3px;
  }
/* universal custom css */
.font-title{
  font-family: var(--font-family-title);
}
.font-content{
  font-family: var(--font-family-content);
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.form-control{
  width: 100%;
  padding: .5rem;
}
.w-100{
  width: 100%;
}
.responsive-image{
  width: 100%; 
  max-width: 100%; 
  height: auto;
}
/* search loading and uncomment all if loadingpageAnimation will be used on the page */
/* ------------------------------------------------------------------- loadingPage -------------------------------------------------------------------*/
/* #loadingPageCont{
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 5;
}
.loadingPageBox{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  flex-grow: 1;
}
.loading__percent{
  font-size: 8rem;
}
.loadingGreet{
  margin-top: 5rem;
  font-size: 4rem;
  text-align: center;
}
.loadingReady{
  margin-top: 1rem;
  padding: 1rem;
  font-size: 3rem;
  border: 1px solid white;;
  color: white;
  font-weight: bolder;
}
.loadingButtons{
  display: flex;
  gap: 3rem;
  margin: 2rem 1rem;
}
.loadingButtons .load-btn{
  border: 1px solid #1f1d1d;
  width: 10rem;
  height: 4rem;
  background:#060606;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1rem;
}
.loadingButtons .load-btn span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
 }
 .takeAPeak,
 .reveal{
   width: 50%;
 }

/* loadingPage - svg animation*/
.loadingSVG{
  width: 100%;
}
.baseRectControl{
  width: 100%;
  height: 100%;
  fill: none;
}
.loading__text{
  position: relative;
  fill:white;
  clip-path: url(#clipPath__baseRect);
}
.greetContainer{
  text-align: center;
  font-size: 4rem;
  margin: 0 1rem;
}

/* set display */
/* .loadingButtons,
.loading__percent,
.loadingSVG{
  display: none;
}  */

/* ------------------------------------------------------------------- Content Page -------------------------------------------------------------------*/
/* - - - - - setup reset for Content Page - - - - - */
#contentPageCont{
  /* display: none; */
  color: white;
  width: 100%;
} 

/* - - - - - navigation bar - - - - - */
.contentPage__nav{
  position: fixed;
  display: block;
  top:0;
  right: 0;
  background-color: blue;
  height: 100vh;
  width: 15rem;
}
.contentPage__nav__children{
  position: relative;
  width: 100%;
  height: 100%;
}
/* setting up nav icon svg*/
.contentPage__nav__icon{
  position: absolute;
  margin-top: 1rem;
  top: 0;
  left: -35%;
  background-color: blue;
  padding: .5rem;
  width: 5.5rem;
  height: 5rem;
}
.lines{
  width: 100%;
  height: 100%;
}
.linesSvg{
  fill: black;
  stroke: black;
  stroke-width: 12px;
  width: 100%;
  height: 100%;
}
/* setting up nav content*/
.contentPage__nav__body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contentPage__nav__body ul{
  list-style: none;
}

/* - - - - - Body & Footer - - - - - */
/* body - - -*/
.contentPage__data{
  position: relative;
  display: block;
  height: auto;
  background-color: black;
}
.contentPage__data__body{
  position: relative;
  /* flex-grow: 1; */
}
.page__bgCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
  padding: 8rem 0;
  background-color: #211717;
  color: white;
  background-image: url(/src/Collection/space.svg);
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.trigger-container{
  border: 2px solid #d2a9a9;
  margin: 0 3rem;
  margin-top: 5rem;
  border-radius: .5rem;
}
.g-body-cont{
  max-width: 75rem;
  margin: auto;
  padding-top: 3rem
}
.bodyC{
  background: rgb(14 12 12 / 92%);
  width: 90%;
}
/* section one - about one*/
.body__aboutOne__container{
  position: relative;
  height: 100vh;
  text-align: center;
}
.body__aboutOne{
  padding: 1rem;
  height: 100%;
}
.body__aboutOne__title{
  font-weight: bold;
  font-size: 7rem;
}
.body__aboutOne__desc{
  margin: 1rem;
  max-width: 65rem;
  font-size: 1.5rem;
}
.aboutOne__info{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}
.aboutOne__info figcaption{
  margin-top: 1.2rem;
}
.custom-hr-about{
  width: 30%;
}
.btn__getStarted{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  padding: 1rem;
  font-size: 2rem;
  max-width: 16rem;
  text-transform: uppercase;
  border-radius: 3rem;
  font-weight: bolder;
  margin-top: 5rem;
}

.btn__getStarted a{
  text-decoration: none;
  color: unset;
}
.btn__arrow{
  font-size: 2rem;
  margin-left: 5px;
}
/* used in gsap animation toggle on click */
.active__onClick{
  background:rgb(252, 72, 72) !important;
  color: black !important;
  border-color:rgb(252, 72, 72) !important;
}
.active__getStarted__symbol{
  transform: rotate(90deg) !important;
}

/* used in section two to four for button animation on click */
.btn__container{
  width: 100%;
  color: white;
  box-shadow: 1px 2px 9px 4px rgb(0 0 0 / 4%);
  background-color: #151313;
  height: 3vh;
}
.btn__position{
  position: absolute;
  max-width: 12rem;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  height: 4rem;
  font-size: 2rem;
  border-radius: .5rem;
  font-weight: bold;
  background-color: #a55555;
  box-shadow: 1px 2px 9px 4px rgb(0 0 0 / 4%);
}
.btn__position:hover{
  background-color: rgb(252, 72, 72) !important;
  color: black !important;
  border-color: rgb(252, 72, 72) !important;
}
#hr__aboutTwo,
#hr__skills,
#hr__projects{
  width: 0vw;
  border-color: rgb(252, 72, 72);
  border-style: dashed;
  border-width: 10px;
}

/* section two - four reset display for animation */
.body__aboutTwo,
.body__skills,
.body__projects{
  margin-top: -5rem;
}

/* reset this initially */
.bodyC,
.custom-hr{
  display: none;
}

/* section two - about two*/
/* content */
.body__aboutTwo__container{
  position: relative;
  height: auto;
  text-align: center;
}
.body__aboutTwo{
  position: relative;
  padding: 5rem 0;
  border-radius: 1rem;
}
.body__aboutTwo__title{
  font-size: 4rem;
}
.body__aboutTwo__desc{
  text-align: left;
  text-indent: 25px;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 23px;
  max-width: 80rem;
  margin: auto;
}
.about__logo{
  position: relative;
  display: inline-block;
  max-width: 15rem;
  text-align: center;
  margin-top: 3rem;
}
.about__logo img{
  border-radius: 50%;
}

/* section three - skills*/
/* content */
.body__skills__container{
  position: relative;
  height: auto;
  text-align: center;
}
.body__skills{
  position: relative;
  box-shadow: 1px 2px 9px 4px rgba(0,0,0,0.23);
  padding: 5rem 0;
  border-radius: 1rem;
}
.skill__desc{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  padding: 0 .5rem;
}
.skill__desc span {
  font-size: 1.8em;
  text-transform: uppercase;
  color: #fc4848;
 }
 .skill__desc hr{
   margin: auto;
   width: 100%;
   border-color: #ecd7d72e;
 }
.skill__desc p {
  text-align: left;
  text-indent: 25px;
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: .5rem;
  color: #ecd7d7;
}
.skill__box{
  position: relative;
}
.skill__text{
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  position: absolute;
  top: 10%;
  right: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.skill__circle{
  border-radius: 50%;
  padding: .3em;
  background: black;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.skill__circle span{
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}
.skill__title{
  width: 100%;
  background: black;
}
.s-border{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*svg*/
.rect__skills__cont{
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  grid-gap: 2rem;
  gap: 2rem;
  margin: auto;
  max-width: 30rem;
  padding-right: 0.2rem;
  padding-left: 0.5rem;
  font-weight: bolder;
  font-size: 1.1rem;
  color: #e1cccc;
}
.v__rects{
  width: 100%;
  height: 100%;
}
.rects__path{
  stroke-miterlimit:10;
  stroke-width: 2px;
  stroke: #ecd7d72e;
  stroke-dasharray: 1px;
  width: 40px;
}
/* section four - projects*/
/* content */
.body__projects__container{
  position: relative;
  height: auto;
  text-align: center;
}
.body__projects{
  position: relative;
  padding: 5rem 0;
  border-radius: 1rem;
}
.body__projects__title{
  font-size: 2rem;
}

/* footer - - -*/
.contentPage__data__footer{
  position: relative;
  width: 100%;
  height: auto;
  color: white;
}
.contentPage__data__footer__children{
  position: relative;
  background-color: black;
}
/* box one */
.contentPage__data__footer__boxOne{
  position: absolute;
  top: -3.5rem;
  padding: 1.3rem;
  font-size: 3rem;
  background: #746C70;
  box-shadow: 1px 2px 9px 4px rgba(0,0,0,0.23);
  border-radius: 3rem;
  left: 0;
  right: 0;
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
}
.contentPage__data__footer__boxOne:hover{
  background: rgb(252, 72, 72);
  width: 15rem;
  color: black;
}
/* box two */
.contentPage__data__footer__boxTwo{
  margin-top: 5rem;
  padding: 3rem;
  height: 30vh;
  border-radius: 10rem;
  background-color: #a7a4a40f;
}
.form__email,
.form__textArea{
  background: transparent;
  outline-width: 0;
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
}
.form__email::placeholder,
.form__textArea::placeholder{
  text-align: center;
  color: white;
  opacity: 1; /* Firefox */
  font-size: 1rem;
}
.form__email{
  border: none;
  border-bottom: 2px solid #fc4848;
}
.form__textArea{
  margin: .3rem 0;
  border: none;
  border-left: 2px solid #fc4848;
  border-right: 2px solid #fc4848;
}
.boxTwo{
  width: 100%;
  height: 100%;
}
.form__submit{
  padding: .5rem;
  background: transparent;
  color: white;
  border-style: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bolder;
}
/* box two hover  */
.contentPage__data__footer__boxTwo:hover{
  background-color: #a7a4a440;
}
.contentPage__data__footer__boxTwo:hover .form__submit{
 border-top: 2px solid #fc4848;
}
.form__submit:hover{
  background: transparent;
  color: #fc4848;
  border-style: none;
}
/* box three */
.contentPage__data__footer__boxThree{
  margin-top: 6rem;
  max-width: 14rem;
}
/* active when box three is cliked */
.stroke-red{
  stroke: red;
}
/* box three svg */
#logoSvg{
  width:100%
}
#logo{
  stroke: white;
  fill: white;
  stroke-miterlimit:10;
  stroke-width:1.2px;
}
/* box four */
.contentPage__data__footer__boxFour{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.contentPage__data__footer__boxFour__social{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.contentPage__data__footer__boxFour__crtag{
  margin-top: 1rem;
  text-align: center;
}
/* font awesome resize */
.fab{
  margin-bottom: .5rem;
  color: rgb(167, 164, 164);
  font-size: 3rem;
}
.fab:hover{
  color: white;
}

/* ------------------------------------------------------------------- Responsive ----------------------------------------------------------------------*/
/* media responsive small screen default*/


/* media responsive small screen overide */
@media only screen and (max-width: 900px) {
  /* loading page */
  /* .loading__percent{
    font-size: 5rem;
  } */
}
@media only screen and (max-width: 600px) {
  /* loading page */
  /* .loading__percent{
   font-size: 4rem;
 } */
  /* section 2 skill page */
  /* .rect__skills__cont{
    font-size: .75rem;
  } */
}
@media only screen and (max-width: 435px) {
  /* loading page */
  /* .greetContainer{
    font-size: 1.3rem;
  }
  .loadingButtons{
  }
  .loadingButtons .load-btn span{
    font-size: .8rem;
  } */

  /* content page */
  .trigger-container {
    margin: 0 1rem;
    margin-top: 5rem;
  }
  /* skill section */
  .body__skills__container{
    margin: 5rem 0;
  }
  .rect__skills__cont{
    gap: unset;
    height: 15rem;
  }

  /* page section */
  .page__bgCont{
    gap: unset; 
  }
  /* about one */
  .body__aboutOne__title{
    font-size: 4.2rem;
  }
  .body__aboutOne__desc{
    font-size: 1rem;
  }
  /* about two */
  
  .body__aboutTwo__desc{
   font-size: 1rem; 
  }
}
@media only screen and (max-width: 380px) {
}
@media only screen and (max-width: 360px) {
  /* get started */
  .btn__getStarted a{
    font-size: 1rem;
  }
  .btn__getStarted {
    bottom: 4rem;
  }

  /* footer hello */
  .contentPage__data__footer__boxOne{
    font-size: 1rem; 
    max-width: 8rem;
    top: -2rem;
  }
}
/* media responsive large screen overide */
@media only screen and (min-width: 800px) {
}

/* media responsive large screen default*/
@media only screen and (min-width: 600px) {
}

