// font size variables
$font-size-s: (
    "h1" : 40px,
    "h2" : 20px,
    "normal-1" : 16px,
    "normal-2" : 12px
);
$font-size-m: (
    "h1" : 50px,
    "h2" : 30px,
    "normal-1" : 26px,
    "normal-2" : 22px
);
$font-size-l: (
    "h1" : 60px,
    "h2" : 30px,
    "normal-1" : 26px,
    "normal-2" : 22px
);
$font-size-xl: (
    "h1" : 70px,
    "h2" : 50px,
    "normal-1" : 45px,
    "normal-2" : 32px
);

// max width variables
$max-width: (
    "s": 0rem,
    "m": 0rem,
    "l": 0rem,
    "xl": 0rem,
);
